.vscode/**
.vscode-test/**
.sisyphus/**
src/**
test/**
scripts/**
docs/**
webview-ui/**
.gitignore
.git/**
esbuild.mjs
**/*.map
**/*.ts
tsconfig.json
dist/test-e2e/**
!dist/extension.js
!dist-webview/**
build/**
